.container-fluid {
    padding: 0px;
}

header {
    padding: 1% 2%;
    background-color: #ebebeb;
}

header img {
    height: 50px;
}

label {
    font-size: 1em;
    color: #444;
    padding: 1%;
}

input {
    padding: 8px;
    border-top: 2px solid #ddd;
}

textarea {
    border-top: 2px solid #ddd;
    border-bottom: 1px solid #ddd;
}

main img {
    height: 320px;
    display: block;
    margin: 0 auto;
    padding-top: -4%;
    filter: drop-shadow(-2px 2px 2px #808080);
    -webkit-filter: drop-shadow(-2px 2px 2px #808080);
}

.hidden {
    display: none;
}

.credit-card-section {
    font-size: 2em;
    text-align: center;
    color: #666666;
    background-color: #ddd;
    padding-bottom: 1%;
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    font-weight: bold;
}

.credit-card-section b {
    color: #222;
    font-weight: bold;
}

.contest-description-section {
    background-color: #f0f0f0;
    font-size: 1.5em;
    color: #444;
    padding: 2% 2%;
    border-bottom: 2px solid #ececec;
}

.super {
    vertical-align: text-top;
    font-size: 1.25rem;
}

.credit-card-input{
    width: 15%;
}

.row {
    padding: 2%;
}

