body {
    background-color: #f9f9f9;
}

hr {
    margin: 2%;
}

.row {

    padding: 2% 4%;
}

.col-md-5, .col-md-2{
    padding: 0;
}


header {

    background-color: #ebebeb;
}

header img {
    height: 50px;
}

label {
    font-size: 1.25em;
    color: #444;
    margin-bottom: 8px;
}

input {
    padding: 8px;
    border-top: 2px solid #ddd;
    width: 100%;
    margin-bottom: 6%;
}

textarea {
    border-top: 2px solid #ddd;
    border-bottom: 1px solid #ddd;
    width: 100%;
    height: 160px;
}

main img {
    height: 320px;
    display: block;
    margin: 0 auto;
    padding-top: -4%;
    filter: drop-shadow(-2px 2px 2px #808080);
    -webkit-filter: drop-shadow(-2px 2px 2px #808080);
}

.hidden {
    display: none;
}

.credit-card-section {
    font-size: 2em;
    text-align: center;
    color: #666666;
    background-color: #ddd;
    padding-bottom: 1%;
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    font-weight: bold;
}

.credit-card-section b {
    color: #222;
    font-weight: bold;
}

.contest-description-section {
    background-color: #f0f0f0;
    font-size: 1.5em;
    color: #444;
    padding-top: 2%;
    padding-bottom: 2%;
    border-bottom: 2px solid #ececec;
}

.super {
    vertical-align: text-top;
    font-size: 1.25rem;
}

.credit-card-input{
    width: 20%;
}

button {
    width: 100%;
    color: #fff;
    border: none;
    border-radius: 2px;
    background-color: #d00000;
    padding: 8px 16px;
    box-shadow: 0 1px 2px #888888;
    position: relative;
    float: right;
}

.missing-info-label {
    color: #d00000;
}

.missing-info{
    height: 16px;
    margin: 0;
    display: inline;
}

.missing-info-text{
    margin: 1%;
    color: #d00000;
}

.missing-info-input{
    border: 2px solid #d00000;
}

input[type="checkbox"]{
    width: 3%;
}

.required-asterix{
    color: #d00000;
}